
<%= form_for([type_obj, type_obj_new]) do |f| %>
  <p>
    <%= f.text_field :nombre, placeholder: "Nombre Proyecto" %>
  </p>
  <p>
    <div><%= label(:year, "Escoge el año")%></div> 
    <%= collection_select(:year_id, :year_id, Year.all, :id, :year) %>  
  </p>
  <p>
    <%= f.number_field :apropiacion_inicial, placeholder: "Apropiacion inicial" %>  
  </p>
  <p>
    <%= f.number_field :apropiacion_vigente, placeholder: "Apropiacion vigente" %>  
  </p>
  <p>
    <%= f.number_field :compromisos, placeholder: "Compromisos" %>  
  </p>
  <p>
    <%= f.number_field :obligaciones, placeholder: "Obligaciones" %>  
  </p>

  <p>
    <%= f.number_field :pagos, placeholder: "Pagos" %>  
  </p>

  <p><%= f.submit %></p>

<% end %>
