<h2>Detalles del proyecto</h2>

<p>Nombre: <%= @project.nombre %></p>
<p>Apropiacion Inicial: <%= @project.apropiacion_inicial %></p>
<p>Apropiacion Vigente<%= @project.apropiacion_vigente %></p>
<p>Compromisos: <%= @project.compromisos  %></p>
<p>Obligaciones: <%= @project.obligaciones  %></p>
<p>Pagos<%= @project.pagos %></p>
