<div class="container">
  
  <h1 class="text-center">Bienvenido a la direccion Nacional de Planeacion</h1>

  <h2 class="text-center">Ejecucion presupuesto general de inversion</h2>

  <h3>Ejecutores de proyectos Actuales</h3>
  <p>Por defecto se muestran los ultimos 5 ejecutores de proyectos. Escribe el numero de ejecutores que quieres ver:
    <%= form_tag(search_makers_path) do %>
      <%= number_field_tag :results %>
      <%= submit_tag "Numero resultados", class: "btn btn-info" %>
    <% end %>
  </p>
  <table style="width:50%" class="text-center">
    <% @makers.each do |maker| %>
      <tr>
        <td><%= link_to maker.unidad_ejecutora, maker_path(maker.id), class: ""  %></td>
        <td>
          <%= form_tag(maker_path(maker.id), method: :delete, data: { confirm: 'Estas seguro de eliminar este ejecutor?' }) do%>
            <%= button_tag( class: "pull-right") do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= link_to edit_maker_path(maker.id), class: "pull-right" do  %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
        </td>
      </tr> 
    <% end %>
  </table>
  <p><%= link_to "Crear ejecutor de proyecto",  new_maker_path, class: "btn btn-info"%></p>


  <h3>Importar Ejecutores de proyectos</h3>
  <p>Tu archivo debe ser CSV y debe contener los siguientes 3 campos: codigo, sector, unidad_ejecutora</p>
  <%= form_tag(import_makers_path, multipart: true) do %>
    <%= file_field_tag :file, class: "" %>
    <%= submit_tag "Importar CSV", class: "btn btn-info" %>
  <% end %>
</div>