<div class="container">

  <%= link_to "Volver a la página principal", makers_path %>
  <article>
    <h3>Unidad Ejecutora: <%= @maker.unidad_ejecutora %> </h3>
      <p>Codigo: <%= @maker.codigo %></p>
      <p>Sector: <%= @maker.sector %></p>
  </article>

  <h3>Proyectos asociados a este ejecutor</h3>
  <ul>
  <% @maker.projects.each do |project| %>
    <li>
      <%= link_to project.nombre, maker_project_path(project.id)  %>
    </li>

  <% end  %>
  </ul>

  <h3>Ingresa un nuevo proyecto para este ejecutor</h3>
  <%= render :partial => 'projects/form', :locals => {:type_obj => @maker, :type_obj_new => @maker.projects.new } %>

</div>