<div class="container">

  <%= link_to "Volver a la página principal", makers_path %>
  <article>
    <h3>Unidad Ejecutora: <%= @maker.unidad_ejecutora %> </h3>
      <p>Codigo: <%= @maker.codigo %></p>
      <p>Sector: <%= @maker.sector %></p>
  </article>

  <h3>Proyectos asociados a este ejecutor</h3>
  <table >
  <tr >
    <th class="text-center">Año</th>
    <th class="text-center">Nombre proyecto</th> 
    <th class="text-center">Presupuesto Vigente</th>
  </tr>
  <% @maker.projects.each do |project| %>
    <tr>
      <td><%= project.year.year %></td>
      <td><%= link_to project.nombre, maker_project_path(project.id)  %></td>
      <td><%= number_to_currency(project.apropiacion_vigente, precision: 0) %></td>
    </tr>

  <% end  %>
  </table>

  <h3>Ingresa un nuevo proyecto para este ejecutor</h3>
  <%= render :partial => 'projects/form', :locals => {:type_obj => @maker, :type_obj_new => @maker.projects.new } %>

</div>